link(rel='stylesheet', href='https://cdnjs.cloudflare.com/ajax/libs/materialize/0.98.0/css/materialize.min.css')
	
nav
	.nav-wrapper
		a.brand-logo(href='#') Fly Pink Bulletin Board
		ul#nav-mobile.right.hide-on-med-and-down
			li
				a(href='/addmessage') Add message
			li
				a(href='/showmessages') Show messages
			li